---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kusk-gateway-api
  namespace: kusk-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kusk-gateway-api
rules:
  - apiGroups:
      - gateway.kusk.io
    resources:
      - apis
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - patch
      - delete
  - apiGroups:
      - gateway.kusk.io
    resources:
      - apis/status
    verbs:
      - get
  - apiGroups:
      - gateway.kusk.io
    resources:
      - envoyfleet
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - gateway.kusk.io
    resources:
      - envoyfleet/status
    verbs:
      - get
  - apiGroups:
      - gateway.kusk.io
    resources:
      - staticroutes
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - gateway.kusk.io
    resources:
      - staticroutes/status
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - services
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - services
      - namespaces
      - pods
      - pods/log
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kusk-gateway-api
  namespace: kusk-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kusk-gateway-api
subjects:
  - kind: ServiceAccount
    name: kusk-gateway-api
    namespace: kusk-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/instance: kusk-gateway-api
    app.kubernetes.io/name: kusk-gateway-api
  name: kusk-gateway-api
  namespace: kusk-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kusk-gateway-api
      app.kubernetes.io/instance: kusk-gateway-api
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kusk-gateway-api
        app.kubernetes.io/instance: kusk-gateway-api
    spec:
      containers:
        - image: kubeshop/kusk-gateway-api:v1.1.10
          imagePullPolicy: Always
          name: kusk-gateway-api
        - name: kusk-gateway-api-websocket
          image: kubeshop/kusk-gateway-api-websocket:v.1.1.10
          imagePullPolicy: Always
          args:
            - --port=8081
          ports:
            - name: ws
              containerPort: 8081
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: ws
          readinessProbe:
            httpGet:
              path: /healthz
              port: ws
      serviceAccountName: kusk-gateway-api
---
apiVersion: v1
kind: Service
metadata:
  name: kusk-gateway-api
  namespace: kusk-system
spec:
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8080
    - port: 8081
      targetPort: 8081
      protocol: TCP
      name: ws
  selector:
    app.kubernetes.io/instance: kusk-gateway-api
    app.kubernetes.io/name: kusk-gateway-api
  type: ClusterIP
