# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea/
.vscode/

.env

# Binary file if built to the root
kusk-gateway

# kusk cli binary file
cmd/kusk/kusk
testbin/

# mkdocs built site
site
env

.tmp/
/.tmp/

# Ignore goreleaser output
dist/
cmd/kusk/cmd/manifest_data.go
/artifacts
movie.mp4
/tmp
/linux
/windows
/darwin
