---
apiVersion: v1
data:
  AGENT_MANAGER_BIND_ADDR: :18010
  ANALYTICS_ENABLED: "true"
  ENABLE_LEADER_ELECTION: "false"
  ENVOY_CONTROL_PLANE_BIND_ADDR: :18000
  HEALTH_PROBE_BIND_ADDR: :8081
  LOG_LEVEL: INFO
  METRICS_BIND_ADDR: 127.0.0.1:8080
  WEBHOOK_CERTS_DIR: /tmp/k8s-webhook-server/serving-certs
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: kusk-gateway-manager
    app.kubernetes.io/instance: kusk-gateway
    app.kubernetes.io/name: kusk-gateway
    app.kubernetes.io/version: "v1.3.21"
  name: kusk-gateway-manager
  namespace: kusk-system
