# permissions for end users to edit envoyfleet.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: envoyfleet-editor-role
rules:
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet/status
  verbs:
  - get
