
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: kusk-gateway-manager-role
rules:
- apiGroups:
  - ""
  - v1
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - update
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - get
  - list
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - apis
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - apis/finalizers
  verbs:
  - update
- apiGroups:
  - gateway.kusk.io
  resources:
  - apis/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet/finalizers
  verbs:
  - update
- apiGroups:
  - gateway.kusk.io
  resources:
  - envoyfleet/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gateway.kusk.io
  resources:
  - staticroutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.kusk.io
  resources:
  - staticroutes/finalizers
  verbs:
  - update
- apiGroups:
  - gateway.kusk.io
  resources:
  - staticroutes/status
  verbs:
  - get
  - patch
  - update
