version: "3.7"
services:
  petstore:
    container_name: petstore
    image: swaggerapi/petstore3:unstable
    networks:
      kusk-gateway:
        ipv4_address: "172.21.0.3"
  go-control-plane:
    container_name: go-control-plane
    build:
      context: .
      dockerfile: Dockerfile-control-plane
    healthcheck:
      test: nc -zv localhost 18000
    networks:
      kusk-gateway:
        ipv4_address: "172.21.0.4"
  front-envoy-cluster1-1:
    container_name: front-envoy-cluster1-1
    build:
      context: .
      dockerfile: Dockerfile-envoy
    environment:
      GO_CONTROL_PLANE_ADDRESS: ${GO_CONTROL_PLANE_ADDRESS}
      GO_CONTROL_PLANE_PORT: ${GO_CONTROL_PLANE_PORT}
      ENVOY_CLUSTER_ID: envoy_cluster1
    ports:
      - 8080:8080
      - 19000:19000
    networks:
      kusk-gateway:
        ipv4_address: "172.21.0.5"
    volumes:
    - ./envoy.yaml.tmpl:/etc/envoy/envoy.yaml.tmpl
    depends_on:
    - petstore
    - go-control-plane
  front-envoy-cluster1-2:
    container_name: front-envoy-cluster2-1
    build:
      context: .
      dockerfile: Dockerfile-envoy
    environment:
      GO_CONTROL_PLANE_ADDRESS: ${GO_CONTROL_PLANE_ADDRESS}
      GO_CONTROL_PLANE_PORT: ${GO_CONTROL_PLANE_PORT}
      ENVOY_CLUSTER_ID: envoy_cluster2
    ports:
      - 8081:8080
      - 19001:19000
    networks:
      kusk-gateway:
        ipv4_address: "172.21.0.6"
    volumes:
    - ./envoy.yaml.tmpl:/etc/envoy/envoy.yaml.tmpl
    depends_on:
    - petstore
    - go-control-plane

networks:
  kusk-gateway:
    name: "kusk-gateway"
    ipam:
      driver: default
      config:
      - subnet: 172.21.0.0/24
