
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: tls.gateway.kusk.io
spec:
  group: gateway.kusk.io
  names:
    kind: TLS
    listKind: TLSList
    plural: tls
    singular: tls
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: TLS is the Schema for the tls API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TLSSpec defines the desired state of TLS
            properties:
              cipherSuits:
                description: CipherSuites is a list of CipherSuites the user wants
                  to include
                items:
                  type: string
                type: array
              secretName:
                description: SecretName refers to the Kubernetes secret which contains
                  the certificates
                type: string
              secretNamespace:
                description: SecretNamespace refers to the Kubernetes namespace where
                  SecretName resides
                type: string
            type: object
          status:
            description: TLSStatus defines the observed state of TLS
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
