
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: apis.gateway.kusk.io
spec:
  group: gateway.kusk.io
  names:
    kind: API
    listKind: APIList
    plural: apis
    singular: api
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: API is the Schema for the apis API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: APISpec defines the desired state of API
            properties:
              fleet:
                description: Fleet represents EnvoyFleet ID, which is deployed EnvoyFleet
                  CustomResource name and namespace Optional, if missing will be automatically
                  added by the Kusk Gateway with the discovery of the single fleet
                  in the cluster (MutatingWebhookConfiguration for the API resource
                  must be enabled).
                properties:
                  name:
                    description: deployed Envoy Fleet CR name
                    pattern: ^[a-z0-9-]{1,62}$
                    type: string
                  namespace:
                    description: deployed Envoy Fleet CR namespace
                    pattern: ^[a-z0-9-]{1,62}$
                    type: string
                required:
                - name
                - namespace
                type: object
              spec:
                description: Spec represents OpenAPI spec as an embedded string.
                type: string
            required:
            - spec
            type: object
          status:
            description: APIStatus defines the observed state of API
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
